.title {
  text-align: center;
}

.reset-button {
  background-color: #0d6efd;; 
  color: white; 
  border: none; 
  border-radius: 20px;
  padding: 10px 20px; 
  margin: 20px 0; 
  cursor: pointer;
  transition: background-color 0.3s; 
}

.reset-button:hover {
  background-color: #0d6efd;; 
}

